<!--<%#= form_with(model: recipe_ingredient) do |form| %>
  <%# if recipe_ingredient.errors.any? %>
    <div style="color: red">
      <h2><%#= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
        <%# recipe_ingredient.errors.each do |error| %>
          <li><%#= error.full_message %></li>
        <%# end %>
      </ul>
    </div>
  <%# end %>

  <div>
    <%#= form.label :recipe_id, style: "display: block" %>
    <%#= form.select :recipe_id, @recipes.map { |r| [r.name, r.id] }%>
  </div>

  <div>
    <%#= form.label :ingredient_id, style: "display: block" %>
    <%#= form.select :ingredient_id, @ingredients.map { |i| [i.name, i.id] }%>
  </div>

  <div>
    <%#= form.label :amount, style: "display: block"%>
    <%#= form.text_field :amount %>
  </div>

  <div>
    <%#= form.label :unit_id, style: "display: block" %>
    <%#= form.select :unit_id, @units.map { |u| [u.name, u.id] }%>
  </div>

  <div>
    <%#= form.label :prep_instructions, style: "display: block" %>
    <%#= form.text_field :prep_instructions %>
  </div>
  <div>
    <%#= form.number_field :user_id, id: :recipe_ingredient_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div>
    <%#= form.submit %>
  </div>
<%# end %>-->
<%= form_with(model: [@recipe, recipe_ingredient]) do |form| %>
  <% if recipe_ingredient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% recipe_ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :ingredient_id, style: "display: block" %>
    <%= form.select :ingredient_id, @ingredients.map { |i| [i.name, i.id] }%>
  </div>

  <div>
    <%= form.label :amount, style: "display: block"%>
    <%= form.text_field :amount %>
  </div>

  <div>
    <%= form.label :unit_id, style: "display: block" %>
    <%= form.select :unit_id, @units.map { |u| [u.name, u.id] }%>
  </div>

  <div>
    <%= form.label :prep_instructions, style: "display: block" %>
    <%= form.text_field :prep_instructions %>
  </div>
  <div>
    <%= form.number_field :user_id, id: :recipe_ingredient_user_id, value: current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>