<div id="<%= dom_id recipe_ingredient %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_ingredient.recipe_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= recipe_ingredient.ingredient_id %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= recipe_ingredient.unit_id %>
  </p>

  <p>
    <strong>Prep instructions:</strong>
    <%= recipe_ingredient.prep_instructions %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe_ingredient.user_id %>
  </p>

  <p>
    <strong>Global:</strong>
    <%= recipe_ingredient.global %>
  </p>

</div>
