<div id="<%= dom_id recipe_ingredient %>">
  
  <p>
    <strong>Ingredient:</strong>
    <%#= Ingredient.find(recipe_ingredient.ingredient_id).name %>
    <%= recipe_ingredient.ingredients.name%>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= recipe_ingredient.amount %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%#= Unit.find(recipe_ingredient.unit_id).name %>
    <%= recipe_ingredient.units.name%>
  </p>

  <p>
    <strong>Prep instructions:</strong>
    <%= recipe_ingredient.prep_instructions %>
  </p>
</div>
