<li id="<%= dom_id recipe_ingredient %>">
  <%= recipe_ingredient.amount.to_s + " " + recipe_ingredient.unit.name + " " + recipe_ingredient.ingredient.name%>
  <% if recipe_ingredient.prep_instructions != "" %>
    <%= " (" + recipe_ingredient.prep_instructions + ")"%>
  <% end %>
  <div>
    <%= link_to edit_recipe_recipe_ingredient_path(@recipe, recipe_ingredient), data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"} do %>
    <i class="bi bi-pencil"></i>
    <% end %>
    <%= link_to [@recipe, recipe_ingredient], data: {turbo_method: :delete, turbo_confirm: "Delete ingredient from recipe?"} do %>
    <i class="bi bi-trash3"></i>
    <% end %>
    </div>
</li>