<div id="<%= dom_id recipe_ingredient %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe_ingredient.recipe_id %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= Ingredient.find(recipe_ingredient.ingredient_id).name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= recipe_ingredient.amount %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= Unit.find(recipe_ingredient.unit_id).name %>
  </p>

  <p>
    <strong>Prep instructions:</strong>
    <%= recipe_ingredient.prep_instructions %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe_ingredient.user_id %>
  </p>

</div>
