<div id="<%= dom_id recipe_step %>">
  <p>
    <strong>Recipe:</strong>
    <%#= Recipe.find_by(id: recipe_step.recipe_id).name %>
    <%= Recipe.find(recipe_step.recipe_id).name %>
  </p>

  <p>
    <strong>Step number:</strong>
    <%= recipe_step.step_number %>
  </p>

  <p>
    <strong>Step text:</strong>
    <%= recipe_step.step_text %>
  </p>
  <% if current_user.admin %>
    <p>
      <strong>User:</strong>
      <%= User.find(recipe_step.user_id).email %>  
    </p>
  <% end %>
</div>
