<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
<%#= javascript_include_tag "dt-setup" %>
<p style="color: green"><%#= notice %></p>
<h1>Recipe steps</h1>
<%#= link_to "New recipe step", new_recipe_step_path %>
<div id="recipe_steps" class="content-scroller">
  <table class="dt-table">
    <thead>
      <tr>
        <th>Recipe Name (ID)</th>
        <th>Step Instructions</th>
        <%# if current_user.admin %>
          <th>User Email (ID)</th>
        <%# end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%# @recipe_steps.each do |recipe_step| %>
        <tr>
          <td><%#= Recipe.find_by(id: recipe_step.recipe_id).name + " (" + recipe_step.recipe_id.to_s + ")" %></td>
          <td><%#= link_to recipe_step.step_number.to_s + ". " + recipe_step.step_text, recipe_step %></td>
          <%# if current_user.admin %>
            <td><%#= User.find_by(id: recipe_step.user_id).email + " (" + recipe_step.user_id.to_s + ")" %></td>
          <%# end %>
            <td><%#= button_to "Delete", recipe_step, method: :delete,class:"lBtn" %></td>
        </tr>
      <%# end %>
    </tbody>
  </table>
</div>-->
<p style="color: green"><%= notice %></p>

<h1><%= @recipe.name %> recipe steps</h1>

<div id="recipe_steps">
  <% @recipe_steps.order(step_number: :asc).each do |recipe_step| %>
    <div><%= recipe_step.step_number.to_s + ". " + recipe_step.step_text %></div>
    <div><%= link_to "Edit", edit_recipe_recipe_step_path(@recipe, recipe_step) %></div>
    <div><%= link_to "Delete", [@recipe, recipe_step], data: {turbo_method: :delete, turbo_confirm: "Delete step?"} %></div>
  <% end %>
  <%= link_to "Back to Recipe", recipe_path(@recipe) %>
</div>