<p style="color: green"><%= notice %></p>
<%= link_to "New state", new_state_path %>
<%= render @state %>

<div>
  <%= link_to "Edit this state", edit_state_path(@state) %> |
  <%= link_to "Back to states", states_path %>
</div>
