<%= form_with(model: ingredient) do |form| %>
  <% if ingredient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-body">
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :state, style: "display: block" %>
      <% @states = State.where(user_id: current_user.id).or(State.where(global: "T")) %>
      <%= form.select :state_id, @states.map { |s| [s.name, s.id.to_i] } %>
      
    </div>
    <div>
      <%= form.label :location, style: "display: block" %>
      <% @locations = Location.where(user_id: current_user.id).or(Location.where(global: "T")) %>
      <%= form.select :location_id, @locations.map { |l| [l.name, l.id] }%>
      
    </div>
    <div>
      <%= form.number_field :user_id, id: :ingredient_user_id, value: current_user.id, type: :hidden %>
    </div>
    <% if current_user.admin == "T" %>
      <div>
        <%= form.label :global %> <br />
        <%= form.select :global, [["True","T"],["False","F"]] %>
      </div>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>
