<!--<div id="<%#= dom_id ingredient %>">

  <p>
    <strong>Name:</strong>
    <%#= ingredient.name %>
  </p>
  <p>
    <strong>State:</strong>
    <%#= ingredient.state.name %>
  </p>
  <p>
    <strong>Location:</strong>
    <%#= ingredient.location.name %>
  </p>
  <p>
    <strong>User:</strong>
    <%#= ingredient.user_id %>
  </p>
  <%# if current_user.admin == "T" %>
    <p>
      <strong>Global:</strong>
      <%= ingredient.global %>
    </p>
  <%# end %>
</div>-->
<li id="<%= dom_id ingredient %>">
  <%= ingredient.name %>
  <% if ingredient.user_id == current_user.id %>
    <div>
      <%= link_to edit_ingredient_path(ingredient), data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"} do %><i class="bi bi-pencil"></i><% end %><%= link_to [ingredient], data: {turbo_method: :delete, turbo_confirm: "Delete ingredient?"} do %><i class="bi bi-trash3"></i><% end %>
    </div>
  <% end %>
</li>

