<div id="<%= dom_id ingredient %>">

  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>
  <p>
    <strong>State:</strong>
    <%= ingredient.state.name %>
  </p>
  <p>
    <strong>Location:</strong>
    <%= ingredient.location.name %>
  </p>
  <p>
    <strong>User:</strong>
    <%= ingredient.user_id %>
  </p>
  <% if current_user.admin == "T" %>
    <p>
      <strong>Global:</strong>
      <%= ingredient.global %>
    </p>
  <% end %>
</div>
