<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
<%= javascript_include_tag "dt-setup" %>
<p style="color: green"><%= notice %></p>
<h1>Ingredients</h1>
<%= link_to "New ingredient", new_ingredient_path %>
<div id="ingredients" class="content-scroller">
  <table class="dt-table">
    <thead>
      <tr>
        <th>Name</th>
        <% if current_user.admin %>
          <th>User Email (ID)</th>
          <th>Global</th>
          <th>Store Location (ID)</th>
          <th>Ingredient State (ID)</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= link_to ingredient.name, ingredient %></td>
          <% if current_user.admin %>
            <td><%= User.find_by(id: ingredient.user_id).email + " (" + ingredient.user_id.to_s + ")" %></td>
            <td><%= ingredient.global %></td>
            <td><%= Location.find_by(id: ingredient.location_id).name + " (" + ingredient.location_id.to_s + ")" %>
            <td><%= State.find_by(id: ingredient.state_id).name + " (" + ingredient.state_id.to_s + ")" %>
          <% end %>
            <td><%= button_to "Delete", ingredient, method: :delete,class:"lBtn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>