<p style="color: green"><%= notice %></p>
<%= link_to "New ingredient", new_ingredient_path %>
<%= render @ingredient %>

<div>
  <%= link_to "Edit this ingredient", edit_ingredient_path(@ingredient) %> |
  <%= link_to "Back to ingredients", ingredients_path %>
</div>
