<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Recipes", root_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.email + " (Edit Profile)", edit_user_registration_path, class:"nav-link"%>
          </li>
          <!--<li>
            <%#= link_to "Create/Update Recipe", create_update_index_path, class:"nav-link"%>
          </li>-->
          <li class="nav-item">
            <%= link_to "Locations", locations_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "Ingredients", ingredients_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "States", states_path, class: "nav-link" %>
          </li>
          
          
          <li class="nav-item">
            <%= link_to "Units", units_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recipe Steps", recipe_steps_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recipe Ingredients", recipe_ingredients_path, class: "nav-link" %>
          </li>
        <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class:"nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class:"nav-link"  %>
            </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>