

<%= javascript_include_tag "scripts" %>
<% if @recipes.empty? %>
    <div class="recipesWrapper">
        <p>NO RECIPES!!!1</p>
    </div>
<% else %>
    <input class="searcher" id="filterRecipes" onkeyup="filterRecipes(this)" type="text" placeholder="Search for ingredient...">
    <div class="recipesWrapper">        
    <% @recipes.each do |recipe| %>
        <div data-controller="recipe" data-controller="recipe" data-action="click->recipe#show" id="recipe_<%= recipe.id %>" class="recipe <% if recipe.status == "IP"%>IP<% end %>" data-name="<%= recipe.name%>" 
        data-steps="<% recipe.recipe_steps.each do |recipe_step| %><p><%= recipe_step.step_number %>. <%= recipe_step.step_text %></p><% end %>" data-ingredients="<% recipe.recipe_ingredients.each do |ri|%><p><%= ri.amount %> <%= ri.unit.name %> <%= ri.ingredient.name %> <% if ri.prep_instructions == "" %><% else %>(<%= ri.prep_instructions %>)<% end %></p><% end %>"><%= recipe.name%></div>
    <% end %>
    </div>
<% end %>



        
<div class="overlay noShow">    
    <div class="tModal" id="myModal">    
        <div class="try">
            <div id="recNam"></div>
            <div id="oneLT">
                <div class="close" id="closer" data-controller="recipe" data-action="click->recipe#modalClose">&times;</div>
            </div>
        </div>
        <div class="modal-guts">
            <div id="recIngs"></div>
            <div id="recSteps"></div>
        </div>
    </div>
</div>