<div class="recipesWrapper">
<%= javascript_include_tag "scripts" %>
    <% if @recipes.empty? %>
        <p>NO RECIPES!!!1</p>
    <% else %>
        <% @recipes.each do |recipe| %>
            <% @recipe_steps = RecipeStep.where(recipe_id: recipe.id).order(step_number: :asc)%>
            <!--no name column on recipe_ingredients. not sure why it works on dev though>-->
            <%# @recipe_ingredients = RecipeIngredient.where(recipe_id: recipe.id).order(name: :asc)%>
            <% @recipe_ingredients = RecipeIngredient.where(recipe_id: recipe.id)%>
            <div id="recipe_<%= recipe.id %>" class="recipe" data-name="<%= recipe.name%>" 
            data-steps="<% @recipe_steps.each do |recipe_step| %><p><%= recipe_step.step_number %>. <%= recipe_step.step_text %></p><% end %>" data-ingredients="<% @recipe_ingredients.each do |ri|%><p><%= ri.amount %> <%= Unit.find_by(id: ri.unit_id).name %> <%= Ingredient.find_by(id: ri.ingredient_id).name %> <% if ri.prep_instructions == "" %><% else %>(<%= ri.prep_instructions %>)<% end %></p><% end %>"><%= recipe.name%></div>
        <% end %>
    <% end %>
</div>

<!-- Modal -->
<div class="tModal" id="myModal">    
    <div class="try">
        <div id="recNam"></div>
        <div id="oneLT">
            <div class="close" id="closer">&times;</div>
        </div>
    </div>
    <div class="modal-guts">
        <!--this stuff does move-->
        <div id="recIngs"></div>
        <div id="recSteps"></div>
    </div>
</div>