<p style="color: green"><%= notice %></p>

<h1>Meal preps</h1>
<div class="row">
  <div class="col">
    <%= week_calendar(events: @meal_preps) do |date, meal_preps| %>
      <div>
        <div class="row">
          <h6 class="col"><%= date.strftime("%b %d (%A)") %></h6><%= link_to new_meal_prep_path(start_time: date.strftime("%Y-%m-%dT%H:%M")), data:{turbo_frame: "zFormModal", controller: "z-form-modal", action: "z-form-modal#showModal"},class:"col-1" do %><i class="bi bi-plus-circle"></i><% end %>
        </div>
      </div>
      <% meal_preps.each do |meal_prep| %>
        <%= render meal_prep %>
      <% end %>
    <% end %>
  </div>
  <div class="col">
    <ul class="list-group">
      <% @testValue.each do |t| %>
        <li class="list-group-item"><%= t.tAmount.to_s + " " + t.unit + " " + t.ingredient %></li>
      <% end %>
    </ul>
  </div>
</div>