<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
<%= javascript_include_tag "dt-setup" %>
<p style="color: green"><%= notice %></p>
<h1>Units</h1>
<%= link_to "New unit", new_unit_path %>
<div id="units" class="content-scroller">
  <table class="dt-table">
    <thead>
      <tr>
        <th>Unit Name</th>
        <% if current_user.admin %>
          <th>User Email (ID)</th>
          <th>Global</th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @units.each do |unit| %>
        <tr>
          <td><%= link_to unit.name, unit %></td>
          <% if current_user.admin %>
            <td><%= User.find_by(id: unit.user_id).email + " (" + unit.user_id.to_s + ")" %></td>
            <td><%= unit.global %>
          <% end %>
          <td><%= button_to "Delete", unit, method: :delete, class:"lBtn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
