<p style="color: green"><%= notice %></p>
<%= link_to "New unit", new_unit_path %>
<%= render @unit %>

<div>
  <%= link_to "Edit this unit", edit_unit_path(@unit) %> |
  <%= link_to "Back to units", units_path %>
</div>
