<p style="color: green"><%= notice %></p>
<%= link_to "New location", new_location_path %>
<%= render @location %>

<div>
  <%= link_to "Edit this location", edit_location_path(@location) %> |
  <%= link_to "Back to locations", locations_path %>
</div>
