<!doctype html>
<html lang="en">
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>    
    <title>Recipes (on Rails?)</title>
  </head>
  <body>
  <%= render "home/header" %>
  <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-controller="z-form-modal">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <%= turbo_frame_tag :zFormModal, class: "modal-content" %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>